<h1>Editing day</h1>

<% form_for(@day) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :game_id %><br />
    <%= f.text_field :game_id %>
  </p>
  <p>
    <%= f.label :thread_id %><br />
    <%= f.text_field :thread_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @day %> |
<%= link_to 'Back', days_path %>