<h1><%= @game.title %></h1>

<h2>Day <%= @day.seq %></h2>

<div id="<%= "day_#{@day.seq}_content" %>">
	<div style="float:right; width: 65%">
	<%= render :partial => 'tally' %>
	</div>
	
	<div>
	<h3>Votes</h3>
	<%= render :partial => 'votes' %>
	</div>
	
</div>