<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Games</title>
  <% locale = I18n.locale rescue :en %>
  <%= stylesheet_link_tag('ui-lightness/jquery-ui-1.8.1.custom.css') %>
  <%= stylesheet_link_tag('ui.jqgrid.css') %>
  <%= javascript_include_tag('jquery-1.4.2.min.js') %>
  <%= javascript_include_tag('jquery-ui-1.8.1.custom.min.js') %>
  <%= javascript_include_tag('jquery.layout.js') %>
  <%= javascript_include_tag("i18n/grid.locale-#{locale}.js") %>
  <%= javascript_include_tag('jquery.jqGrid.min.js') %>
  <%= javascript_include_tag('jquery.tablednd.js') %>
  <%= javascript_include_tag('jquery.contextmenu.js') %>
  <%= javascript_include_tag('jqGrid.update.detail.js') %>
  <%= stylesheet_link_tag 'scaffold' %>
  <script type="text/javascript">
    function ajaxForm(form, container) {
      var url = $(form).attr('action');
      var params = $(form).serialize();
      var receiver = $(container);
      $.post(url, params, function(data) { 
        receiver.html(data);
        return(false);
      }, 'html');
      return false; 
    }
  </script>
  <style type="text/css">
  .game-grid { margin-bottom: 1em; }
  </style>
</head>
<body>

<p style="color: green; display: none"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
